USE [master]
GO
/****** Object:  Database [Hotelmgmt]    Script Date: 28-09-2025 10:18:49 ******/
CREATE DATABASE [Hotelmgmt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotelmgmt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hotelmgmt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotelmgmt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hotelmgmt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotelmgmt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotelmgmt]
GO
/****** Object:  User [hotelapp]    Script Date: 28-09-2025 10:18:49 ******/
CREATE USER [hotelapp] FOR LOGIN [hotelapp] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [hotelapp]
GO
/****** Object:  Schema [hm]    Script Date: 28-09-2025 10:18:49 ******/
CREATE SCHEMA [hm]
GO
/****** Object:  Table [hm].[Customer]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](256) NULL,
	[Phone] [nvarchar](20) NULL,
	[IdProof] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[ExtraService]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[ExtraService](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ServiceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[Hotel]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[Hotel](
	[HotelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[AddressLine1] [nvarchar](250) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](25) NULL,
	[Email] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[HotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[Payment]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[Payment](
	[PaymentId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReservationId] [bigint] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[PaymentDate] [datetime2](0) NOT NULL,
	[MethodId] [tinyint] NOT NULL,
	[StatusId] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[PaymentMethod]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[PaymentMethod](
	[MethodId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[PaymentStatus]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[PaymentStatus](
	[StatusId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[Reservation]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[Reservation](
	[ReservationId] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[HotelId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[StatusId] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[reservation_status]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[reservation_status](
	[status_id] [smallint] NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK2jvhsnhrg1k5frpgvqjcu9n5t] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[ReservationService]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[ReservationService](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReservationId] [bigint] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_RS_Unique] UNIQUE NONCLUSTERED 
(
	[ReservationId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[ReservationStatus]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[ReservationStatus](
	[StatusId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[Room]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[Room](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[HotelId] [int] NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[RoomTypeId] [tinyint] NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[Capacity] [int] NOT NULL,
	[RoomStatusId] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_Room_Hotel_RoomNumber] UNIQUE NONCLUSTERED 
(
	[HotelId] ASC,
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[room_status]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[room_status](
	[room_status_id] [smallint] NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKmjppv8hw3l8fbjx3ntgp9nxug] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[room_type]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[room_type](
	[room_type_id] [smallint] NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKq0y2xl90orh60g19v627mraij] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[RoomStatus]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[RoomStatus](
	[RoomStatusId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[RoomType]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[RoomType](
	[RoomTypeId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[Staff]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[HotelId] [int] NOT NULL,
	[RoleId] [tinyint] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hm].[StaffRole]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hm].[StaffRole](
	[RoleId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Customer_Email]    Script Date: 28-09-2025 10:18:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Customer_Email] ON [hm].[Customer]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservation_Room_Dates]    Script Date: 28-09-2025 10:18:49 ******/
CREATE NONCLUSTERED INDEX [IX_Reservation_Room_Dates] ON [hm].[Reservation]
(
	[RoomId] ASC,
	[CheckInDate] ASC,
	[CheckOutDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [hm].[Hotel] ADD  CONSTRAINT [DF_Hotel_Country]  DEFAULT (N'India') FOR [Country]
GO
ALTER TABLE [hm].[Payment] ADD  CONSTRAINT [DF_Payment_Date]  DEFAULT (sysutcdatetime()) FOR [PaymentDate]
GO
ALTER TABLE [hm].[Reservation] ADD  CONSTRAINT [DF_Reservation_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [hm].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Method] FOREIGN KEY([MethodId])
REFERENCES [hm].[PaymentMethod] ([MethodId])
GO
ALTER TABLE [hm].[Payment] CHECK CONSTRAINT [FK_Payment_Method]
GO
ALTER TABLE [hm].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Reservation] FOREIGN KEY([ReservationId])
REFERENCES [hm].[Reservation] ([ReservationId])
GO
ALTER TABLE [hm].[Payment] CHECK CONSTRAINT [FK_Payment_Reservation]
GO
ALTER TABLE [hm].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Status] FOREIGN KEY([StatusId])
REFERENCES [hm].[PaymentStatus] ([StatusId])
GO
ALTER TABLE [hm].[Payment] CHECK CONSTRAINT [FK_Payment_Status]
GO
ALTER TABLE [hm].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Res_Customer] FOREIGN KEY([CustomerId])
REFERENCES [hm].[Customer] ([CustomerId])
GO
ALTER TABLE [hm].[Reservation] CHECK CONSTRAINT [FK_Res_Customer]
GO
ALTER TABLE [hm].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Res_Hotel] FOREIGN KEY([HotelId])
REFERENCES [hm].[Hotel] ([HotelId])
GO
ALTER TABLE [hm].[Reservation] CHECK CONSTRAINT [FK_Res_Hotel]
GO
ALTER TABLE [hm].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Res_Room] FOREIGN KEY([RoomId])
REFERENCES [hm].[Room] ([RoomId])
GO
ALTER TABLE [hm].[Reservation] CHECK CONSTRAINT [FK_Res_Room]
GO
ALTER TABLE [hm].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Res_Status] FOREIGN KEY([StatusId])
REFERENCES [hm].[ReservationStatus] ([StatusId])
GO
ALTER TABLE [hm].[Reservation] CHECK CONSTRAINT [FK_Res_Status]
GO
ALTER TABLE [hm].[ReservationService]  WITH CHECK ADD  CONSTRAINT [FK_RS_Reservation] FOREIGN KEY([ReservationId])
REFERENCES [hm].[Reservation] ([ReservationId])
GO
ALTER TABLE [hm].[ReservationService] CHECK CONSTRAINT [FK_RS_Reservation]
GO
ALTER TABLE [hm].[ReservationService]  WITH CHECK ADD  CONSTRAINT [FK_RS_Service] FOREIGN KEY([ServiceId])
REFERENCES [hm].[ExtraService] ([ServiceId])
GO
ALTER TABLE [hm].[ReservationService] CHECK CONSTRAINT [FK_RS_Service]
GO
ALTER TABLE [hm].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Hotel] FOREIGN KEY([HotelId])
REFERENCES [hm].[Hotel] ([HotelId])
GO
ALTER TABLE [hm].[Room] CHECK CONSTRAINT [FK_Room_Hotel]
GO
ALTER TABLE [hm].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomStatus] FOREIGN KEY([RoomStatusId])
REFERENCES [hm].[RoomStatus] ([RoomStatusId])
GO
ALTER TABLE [hm].[Room] CHECK CONSTRAINT [FK_Room_RoomStatus]
GO
ALTER TABLE [hm].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomType] FOREIGN KEY([RoomTypeId])
REFERENCES [hm].[RoomType] ([RoomTypeId])
GO
ALTER TABLE [hm].[Room] CHECK CONSTRAINT [FK_Room_RoomType]
GO
ALTER TABLE [hm].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Hotel] FOREIGN KEY([HotelId])
REFERENCES [hm].[Hotel] ([HotelId])
GO
ALTER TABLE [hm].[Staff] CHECK CONSTRAINT [FK_Staff_Hotel]
GO
ALTER TABLE [hm].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Role] FOREIGN KEY([RoleId])
REFERENCES [hm].[StaffRole] ([RoleId])
GO
ALTER TABLE [hm].[Staff] CHECK CONSTRAINT [FK_Staff_Role]
GO
ALTER TABLE [hm].[ExtraService]  WITH CHECK ADD  CONSTRAINT [CK_Service_Price] CHECK  (([BasePrice]>=(0)))
GO
ALTER TABLE [hm].[ExtraService] CHECK CONSTRAINT [CK_Service_Price]
GO
ALTER TABLE [hm].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [hm].[Payment] CHECK CONSTRAINT [CK_Payment_Amount]
GO
ALTER TABLE [hm].[Reservation]  WITH CHECK ADD  CONSTRAINT [CK_Res_Dates] CHECK  (([CheckOutDate]>[CheckInDate]))
GO
ALTER TABLE [hm].[Reservation] CHECK CONSTRAINT [CK_Res_Dates]
GO
ALTER TABLE [hm].[ReservationService]  WITH CHECK ADD  CONSTRAINT [CK_RS_Qty] CHECK  (([Quantity]>=(1)))
GO
ALTER TABLE [hm].[ReservationService] CHECK CONSTRAINT [CK_RS_Qty]
GO
ALTER TABLE [hm].[ReservationService]  WITH CHECK ADD  CONSTRAINT [CK_RS_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [hm].[ReservationService] CHECK CONSTRAINT [CK_RS_UnitPrice]
GO
ALTER TABLE [hm].[Room]  WITH CHECK ADD  CONSTRAINT [CK_Room_Capacity] CHECK  (([Capacity]>=(1)))
GO
ALTER TABLE [hm].[Room] CHECK CONSTRAINT [CK_Room_Capacity]
GO
ALTER TABLE [hm].[Room]  WITH CHECK ADD  CONSTRAINT [CK_Room_Price] CHECK  (([PricePerNight]>=(0)))
GO
ALTER TABLE [hm].[Room] CHECK CONSTRAINT [CK_Room_Price]
GO
/****** Object:  StoredProcedure [hm].[usp_CreateReservation]    Script Date: 28-09-2025 10:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [hm].[usp_CreateReservation]
    @CustomerId   INT,
    @HotelId      INT,
    @RoomId       INT,
    @CheckInDate  DATE,
    @CheckOutDate DATE,
    @ReservationId BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF @CheckOutDate <= @CheckInDate
    BEGIN
        RAISERROR('CheckOutDate must be after CheckInDate.',16,1); RETURN;
    END

    -- Overlap check for BOOKED or CHECKED_IN reservations
    IF EXISTS (
        SELECT 1 FROM hm.Reservation r
        WHERE r.RoomId = @RoomId
          AND r.StatusId IN (1,2) -- BOOKED, CHECKED_IN
          AND @CheckInDate < r.CheckOutDate
          AND @CheckOutDate > r.CheckInDate
    )
    BEGIN
        RAISERROR('Room is already reserved for the selected dates.',16,1); RETURN;
    END

    INSERT hm.Reservation (CustomerId, HotelId, RoomId, CheckInDate, CheckOutDate, StatusId)
    VALUES (@CustomerId, @HotelId, @RoomId, @CheckInDate, @CheckOutDate, 1); -- 1=BOOKED

    SET @ReservationId = SCOPE_IDENTITY();
END
GO
USE [master]
GO
